p {
color: brown;/* Colocar cor  */
font-size: 36px;/* aumentar a fonte da letra  */
background-color: chartreuse;/* Colocar cor de fundo */
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 600;/* Altera o peso da fonte  */

}
#sobrenome{
    color: blue;
    font-size: 40px;
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.texto{/* # só servepara ID e para texto tem que usar o . */
    color: rgb(255, 102, 0);
}